y-a-foot-ws/src/main/webapp/WEB-INF/wadl/recherche_matchs.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
    <doc xml:lang="es" title="Services REST - Recherche des matchs"/>
    <grammars>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
                   elementFormDefault="unqualified">
            <xs:import namespace="http://andresbustamante.net/yafoot/xs" schemaLocation="../xsd/foot.xsd"/>
        </xs:schema>
    </grammars>
    <resources base="http://localhost:8080/y-a-foot-ws/rs">
        <resource path="matchs/recherche" id="RechercheMatchsRS">
            <resource path="/code/{codeMatch}">
                <method name="GET">
                    <request>
                        <param name="codeMatch" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
                    </request>
                    <response status="200">
                        <representation mediaType="application/xml" element="yaf:match"
                                        xmlns:yaf="http://andresbustamante.net/yafoot/xs"/>
                    </response>
                </method>
            </resource>
            <resource path="/joueur/{idJoueur}">
                <method name="GET">
                    <request>
                        <param name="idJoueur" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
                    </request>
                    <response status="200">
                        <representation mediaType="application/xml" element="yaf:matchs"
                                        xmlns:yaf="http://andresbustamante.net/yafoot/xs"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>