y-a-foot-ws/src/main/webapp/WEB-INF/wsdl/authentification_utilisateur.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AuthentificationUtilisateurWS"
                  targetNamespace="http://andresbustamante.net/yafoot/ws"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://andresbustamante.net/yafoot/ws"
                  xmlns:yaf="http://andresbustamante.net/yafoot/xs">
    <wsdl:types>
        <xs:schema targetNamespace="http://andresbustamante.net/yafoot/ws"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://andresbustamante.net/yafoot/xs"
                       schemaLocation="../xsd/foot.xsd"/>
            <xs:element name="authentifierUtilisateur">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="yaf:utilisateur"/>
                        <xs:element ref="yaf:contexte"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authentifierUtilisateurResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="yaf:utilisateur"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="recupererMdpOublie">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="email" type="yaf:emailType"/>
                        <xs:element ref="yaf:contexte"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="recupererMdpOublieResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="mdpEnvoye" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="messageException" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="authentifierUtilisateurRequest">
        <wsdl:part name="input" element="tns:authentifierUtilisateur"/>
    </wsdl:message>
    <wsdl:message name="authentifierUtilisateurResponse">
        <wsdl:part name="output" element="tns:authentifierUtilisateurResponse"/>
    </wsdl:message>
    <wsdl:message name="recupererMdpOublieRequest">
        <wsdl:part name="input" element="tns:recupererMdpOublie"/>
    </wsdl:message>
    <wsdl:message name="recupererMdpOublieResponse">
        <wsdl:part name="output" element="tns:recupererMdpOublieResponse"/>
    </wsdl:message>
    <wsdl:message name="BDDException">
        <wsdl:part name="ex" element="tns:messageException"/>
    </wsdl:message>
    <wsdl:portType name="AuthentificationUtilisateurPortType">
        <wsdl:operation name="authentifierUtilisateur">
            <wsdl:input message="tns:authentifierUtilisateurRequest"/>
            <wsdl:output message="tns:authentifierUtilisateurResponse"/>
            <wsdl:fault message="tns:BDDException" name="BDDException"/>
        </wsdl:operation>
        <wsdl:operation name="recupererMdpOublie">
            <wsdl:input message="tns:recupererMdpOublieRequest"/>
            <wsdl:output message="tns:recupererMdpOublieResponse"/>
            <wsdl:fault message="tns:BDDException" name="BDDException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AuthentificationUtilisateurSoapBinding" type="tns:AuthentificationUtilisateurPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="authentifierUtilisateur">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BDDException">
                <soap:fault name="BDDException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="recupererMdpOublie">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BDDException">
                <soap:fault name="BDDException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AuthentificationUtilisateurService">
        <wsdl:documentation>Service de authentification d'utilisateurs et de récupération de mots de passe oubliés
        </wsdl:documentation>
        <wsdl:port name="AuthentificationUtilisateurPort"
                   binding="tns:AuthentificationUtilisateurSoapBinding">
            <soap:address location="http://localhost:8080/y-a-foot-ws/AuthentificationUtilisateurService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
