y-a-foot-services/src/main/webapp/WEB-INF/wsdl/inscription_joueurs.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="InscriptionJoueursWS"
                  targetNamespace="http://andresbustamante.net/yafoot/ws"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://andresbustamante.net/yafoot/ws"
                  xmlns:yaf="http://andresbustamante.net/yafoot/xs">
    <wsdl:types>
        <xs:schema targetNamespace="http://andresbustamante.net/yafoot/ws"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://andresbustamante.net/yafoot/xs" schemaLocation="../xsd/foot.xsd"/>
            <xs:element name="inscrireJoueur">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="yaf:joueur"/>
                        <xs:element ref="yaf:contexte"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="inscrireJoueurResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inscrit" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="actualiserJoueur">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="yaf:joueur"/>
                        <xs:element ref="yaf:contexte"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="actualiserJoueurResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="actualise" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="messageException" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="inscrireJoueurRequest">
        <wsdl:part name="input" element="tns:inscrireJoueur"/>
    </wsdl:message>
    <wsdl:message name="inscrireJoueurResponse">
        <wsdl:part name="output" element="tns:inscrireJoueurResponse"/>
    </wsdl:message>
    <wsdl:message name="actualiserJoueurRequest">
        <wsdl:part name="input" element="tns:actualiserJoueur"/>
    </wsdl:message>
    <wsdl:message name="actualiserJoueurResponse">
        <wsdl:part name="output" element="tns:actualiserJoueurResponse"/>
    </wsdl:message>
    <wsdl:message name="BDDException">
        <wsdl:part name="exc" element="tns:messageException"/>
    </wsdl:message>
    <wsdl:portType name="InscriptionJoueursPortType">
        <wsdl:operation name="inscrireJoueur">
            <wsdl:input message="tns:inscrireJoueurRequest"/>
            <wsdl:output message="tns:inscrireJoueurResponse"/>
            <wsdl:fault message="tns:BDDException" name="BDDException"/>
        </wsdl:operation>
        <wsdl:operation name="actualiserJoueur">
            <wsdl:input message="tns:actualiserJoueurRequest"/>
            <wsdl:output message="tns:actualiserJoueurResponse"/>
            <wsdl:fault message="tns:BDDException" name="BDDException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="InscriptionJoueursSoapBinding" type="tns:InscriptionJoueursPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="inscrireJoueur">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BDDException">
                <soap:fault name="BDDException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="actualiserJoueur">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BDDException">
                <soap:fault name="BDDException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="InscriptionJoueursService">
        <wsdl:documentation>Service de gestion des joueurs</wsdl:documentation>
        <wsdl:port name="InscriptionJoueursPort" binding="tns:InscriptionJoueursSoapBinding">
            <soap:address location="http://localhost:8080/y-a-foot-ws/InscriptionJoueursService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
