y-a-foot-core/src/main/resources/wadl/y-a-foot-core.wadl

<?xml-stylesheet type="text/xsl" href="/Users/andresbustamante/Desktop/repositorios/y-a-foot/y-a-foot-core/src/main/resources/wadl/wadl.xsl"?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <doc title="Y-a-foot REST API"/>
  <grammars></grammars>
  <resources base="/api">
    <resource path="/players">
      <method name="POST">
        <request>
          <representation mediaType="*/*"/>
        </request>
        <response>
          <representation mediaType="application/json"/>
        </response>
      </method>
      <resource path="/{email}/email">
        <param name="email" style="template" type="xs:string"/>
        <method name="DELETE">
          <request></request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
        <method name="GET">
          <request></request>
          <response>
            <representation mediaType="application/xml"/>
          </response>
        </method>
        <method name="PUT">
          <request>
            <representation mediaType="*/*"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
    </resource>
    <resource path="/registrations">
      <method name="POST">
        <request>
          <representation mediaType="*/*"/>
        </request>
        <response>
          <representation mediaType="application/json"/>
        </response>
      </method>
      <resource path="/{matchCode}">
        <param name="matchCode" style="template" type="xs:string"/>
        <method name="DELETE">
          <request></request>
          <response>
            <representation mediaType="*/*"/>
          </response>
        </method>
      </resource>
    </resource>
    <resource path="/sites">
      <method name="GET">
        <request>
          <param name="pid" style="query" type="xs:int"/>
        </request>
        <response>
          <representation mediaType="application/xml"/>
        </response>
      </method>
    </resource>
    <resource path="/cars">
      <method name="GET">
        <request>
          <param name="pid" style="query" type="xs:int"/>
        </request>
        <response>
          <representation mediaType="*/*"/>
        </response>
      </method>
      <method name="POST">
        <request>
          <representation mediaType="*/*"/>
        </request>
        <response>
          <representation mediaType="*/*"/>
        </response>
      </method>
    </resource>
    <resource path="/matches">
      <method name="GET">
        <request>
          <param name="pid" style="query" type="xs:int"/>
          <param name="userCtx" style="header" type="xs:int"/>
          <param name="tz" style="header" type="xs:string"/>
        </request>
        <response>
          <representation mediaType="application/xml"/>
        </response>
      </method>
      <method name="POST">
        <request>
          <representation mediaType="*/*"/>
        </request>
        <response>
          <representation mediaType="application/json"/>
        </response>
      </method>
      <resource path="/{matchCode}">
        <param name="matchCode" style="template" type="xs:string"/>
        <method name="GET">
          <request>
            <param name="userCtx" style="header" type="xs:int"/>
          </request>
          <response>
            <representation mediaType="application/xml"/>
          </response>
        </method>
      </resource>
    </resource>
  </resources>
</application>