y-a-foot-ws/src/main/resources/wsdl/organisation_matchs.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OrganisationMatchsWS"
                  targetNamespace="http://andresbustamante.net/yafoot/ws"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://andresbustamante.net/yafoot/ws"
                  xmlns:yaf="http://andresbustamante.net/yafoot/xs">
    <wsdl:types>
        <xs:schema targetNamespace="http://andresbustamante.net/yafoot/ws"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://andresbustamante.net/yafoot/xs" schemaLocation="../xsd/foot.xsd"/>
            <xs:element name="creerMatch">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="yaf:match"/>
                        <xs:element ref="yaf:contexte"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="creerMatchResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="codeMatch" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="inscrireJoueurMatch">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="yaf:joueur"/>
                        <xs:element ref="yaf:match"/>
                        <xs:element ref="yaf:voiture" minOccurs="0" />
                        <xs:element ref="yaf:contexte"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="inscrireJoueurMatchResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inscrit" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="desinscrireJoueurMatch">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="yaf:joueur"/>
                        <xs:element ref="yaf:match"/>
                        <xs:element ref="yaf:contexte"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="desinscrireJoueurMatchResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="desinscrit" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="annulerMatch">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="yaf:match"/>
                        <xs:element ref="yaf:contexte"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="annulerMatchResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="annule" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="messageException" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="creerMatchRequest">
        <wsdl:part name="input" element="tns:creerMatch"/>
    </wsdl:message>
    <wsdl:message name="creerMatchResponse">
        <wsdl:part name="output" element="tns:creerMatchResponse"/>
    </wsdl:message>
    <wsdl:message name="inscrireJoueurMatchRequest">
        <wsdl:part name="input" element="tns:inscrireJoueurMatch"/>
    </wsdl:message>
    <wsdl:message name="inscrireJoueurMatchResponse">
        <wsdl:part name="output" element="tns:inscrireJoueurMatchResponse"/>
    </wsdl:message>
    <wsdl:message name="desinscrireJoueurMatchRequest">
        <wsdl:part name="input" element="tns:desinscrireJoueurMatch"/>
    </wsdl:message>
    <wsdl:message name="desinscrireJoueurMatchResponse">
        <wsdl:part name="output" element="tns:desinscrireJoueurMatchResponse"/>
    </wsdl:message>
    <wsdl:message name="annulerMatchRequest">
        <wsdl:part name="input" element="tns:annulerMatch"/>
    </wsdl:message>
    <wsdl:message name="annulerMatchResponse">
        <wsdl:part name="output" element="tns:annulerMatchResponse"/>
    </wsdl:message>
    <wsdl:message name="BDDException">
        <wsdl:part name="exc" element="tns:messageException"/>
    </wsdl:message>
    <wsdl:portType name="OrganisationMatchsPortType">
        <wsdl:operation name="creerMatch">
            <wsdl:input message="tns:creerMatchRequest"/>
            <wsdl:output message="tns:creerMatchResponse"/>
            <wsdl:fault message="tns:BDDException" name="BDDException"/>
        </wsdl:operation>
        <wsdl:operation name="inscrireJoueurMatch">
            <wsdl:input message="tns:inscrireJoueurMatchRequest"/>
            <wsdl:output message="tns:inscrireJoueurMatchResponse"/>
            <wsdl:fault message="tns:BDDException" name="BDDException"/>
        </wsdl:operation>
        <wsdl:operation name="desinscrireJoueurMatch">
            <wsdl:input message="tns:desinscrireJoueurMatchRequest"/>
            <wsdl:output message="tns:desinscrireJoueurMatchResponse"/>
            <wsdl:fault message="tns:BDDException" name="BDDException"/>
        </wsdl:operation>
        <wsdl:operation name="annulerMatch">
            <wsdl:input message="tns:annulerMatchRequest"/>
            <wsdl:output message="tns:annulerMatchResponse"/>
            <wsdl:fault message="tns:BDDException" name="BDDException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OrganisationMatchsSoapBinding" type="tns:OrganisationMatchsPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="creerMatch">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BDDException">
                <soap:fault name="BDDException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="inscrireJoueurMatch">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BDDException">
                <soap:fault name="BDDException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="desinscrireJoueurMatch">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BDDException">
                <soap:fault name="BDDException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="annulerMatch">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BDDException">
                <soap:fault name="BDDException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OrganisationMatchsService">
        <wsdl:documentation>Service de planification et gestion des matchs</wsdl:documentation>
        <wsdl:port name="OrganisationMatchsPort" binding="tns:OrganisationMatchsSoapBinding">
            <soap:address location="http://localhost:8080/y-a-foot-ws/OrganisationMatchsService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
